.template__cont {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7a8599;
}

.template {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 650px;
  height: 850px;
}

@media screen and (max-height: 900px) {
  .template {
    height: 750px;
    width: 650px;
  }
}

.template .sidebar {
  border-top-left-radius: 10px;
  min-width: 180px;
  max-width: 180px;
  background-color: #9fa7b4;
  border-bottom-left-radius: 10px;
}

.template .sidebar .top {
  border-top-left-radius: 10px;
  padding: 20px 10px;
  background-color: #323a45;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.template .sidebar .top .photo {
  width: 100px;
  height: 100px;
}

@media screen and (max-height: 900px) {
  .template .sidebar .top .photo {
    height: 80px;
    width: 80px;
  }
}

.template .sidebar .top .photo img {
  width: 100%;
  min-height: 100%;
  border-radius: 50%;
}

.template .sidebar .top .user__name,
.template .sidebar .top .user__job,
.template .sidebar .top .user__website {
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}

.template .sidebar .top .user__name {
  margin-top: 5px;
  font-weight: bold;
  color: white;
  font-size: 16px;
}

@media screen and (max-height: 900px) {
  .template .sidebar .top .user__name {
    font-size: 13px;
  }
}

.template .sidebar .top .user__job {
  color: white;
  font-size: 13px;
}

@media screen and (max-height: 900px) {
  .template .sidebar .top .user__job {
    font-size: 10px;
  }
}

.template .sidebar .top .user__website {
  margin-top: 10px;
  font-size: 13px;
  color: #9fa7b4;
}

@media screen and (max-height: 900px) {
  .template .sidebar .top .user__website {
    font-size: 10px;
  }
}

.template .sidebar .top .user__website svg {
  margin-right: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.template .sidebar .top .user__website a {
  color: #9fa7b4;
  text-decoration: none;
  margin: 2px 3px;
}

.template .sidebar .bottom {
  padding: 20px 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.template .sidebar .bottom .user__summary {
  font-size: 12px;
  color: #5b6370;
  word-wrap: break-word;
  width: 100%;
}

@media screen and (max-height: 900px) {
  .template .sidebar .bottom .user__summary {
    font-size: 11px;
  }
}

.template .sidebar .bottom .user__summary span {
  width: 100%;
  color: #404348;
  margin-right: 5px;
}

.template .sidebar .bottom .user__summary span svg {
  margin-right: 5px;
}

.template .sidebar .bottom .user__summary .elements {
  margin-left: 5px;
}

@media screen and (max-height: 900px) {
  .template .sidebar .bottom .user__summary .elements {
    font-size: 10px !important;
  }
}

.template .sidebar .bottom .bottom__bottom {
  width: 100%;
  margin-top: 20px;
}

.template .sidebar .bottom .bottom__bottom .user__phone,
.template .sidebar .bottom .bottom__bottom .user__email,
.template .sidebar .bottom .bottom__bottom .user__hobbies,
.template .sidebar .bottom .bottom__bottom .user__extras {
  color: #5b6370;
  width: 100%;
  word-wrap: break-word;
  font-size: 13px;
}

@media screen and (max-height: 900px) {
  .template .sidebar .bottom .bottom__bottom .user__phone,
  .template .sidebar .bottom .bottom__bottom .user__email,
  .template .sidebar .bottom .bottom__bottom .user__hobbies,
  .template .sidebar .bottom .bottom__bottom .user__extras {
    font-size: 11px;
  }
}

.template .sidebar .bottom .bottom__bottom .user__phone span,
.template .sidebar .bottom .bottom__bottom .user__email span,
.template .sidebar .bottom .bottom__bottom .user__hobbies span,
.template .sidebar .bottom .bottom__bottom .user__extras span {
  width: 100%;
  margin-right: 5px;
  color: #404348;
}

.template .sidebar .bottom .bottom__bottom .user__phone span svg,
.template .sidebar .bottom .bottom__bottom .user__email span svg,
.template .sidebar .bottom .bottom__bottom .user__hobbies span svg,
.template .sidebar .bottom .bottom__bottom .user__extras span svg {
  margin-right: 5px;
}

.template .sidebar .bottom .bottom__bottom .user__phone .elements,
.template .sidebar .bottom .bottom__bottom .user__email .elements,
.template .sidebar .bottom .bottom__bottom .user__hobbies .elements,
.template .sidebar .bottom .bottom__bottom .user__extras .elements {
  font-size: 12px;
}

@media screen and (max-height: 900px) {
  .template .sidebar .bottom .bottom__bottom .user__phone .elements,
  .template .sidebar .bottom .bottom__bottom .user__email .elements,
  .template .sidebar .bottom .bottom__bottom .user__hobbies .elements,
  .template .sidebar .bottom .bottom__bottom .user__extras .elements {
    font-size: 10px;
  }
}

.template .sidebar .bottom .bottom__bottom .user__email {
  margin-top: 5px;
}

.template .sidebar .bottom .bottom__bottom .user__hobbies,
.template .sidebar .bottom .bottom__bottom .user__extras {
  margin-top: 10px;
}

.template .sidebar .bottom .bottom__bottom .user__hobbies .elements,
.template .sidebar .bottom .bottom__bottom .user__extras .elements {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 10px;
}

.template .sidebar .bottom .bottom__bottom .user__hobbies .elements .hobby,
.template .sidebar .bottom .bottom__bottom .user__hobbies .elements .extra,
.template .sidebar .bottom .bottom__bottom .user__extras .elements .hobby,
.template .sidebar .bottom .bottom__bottom .user__extras .elements .extra {
  background-color: #5b6370;
  color: #fff;
  border-radius: 5px;
  word-wrap: break-all;
}

@media screen and (max-height: 900px) {
  .template .sidebar .bottom .bottom__bottom .user__hobbies .elements .hobby,
  .template .sidebar .bottom .bottom__bottom .user__hobbies .elements .extra,
  .template .sidebar .bottom .bottom__bottom .user__extras .elements .hobby,
  .template .sidebar .bottom .bottom__bottom .user__extras .elements .extra {
    font-size: 9px;
  }
}

.template .main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
}

.template .main .user__activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0;
}

@media screen and (max-height: 900px) {
  .template .main .user__activity {
    margin: 2px 0;
  }
}

.template .main .user__activity .headline {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template .main .user__activity .headline .icon__container {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #404348;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template .main .user__activity .headline .icon__container svg {
  color: white;
  font-size: 12px;
}

.template .main .user__activity .headline h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
  border-bottom: 1px solid #404348;
  color: #404348;
  font-size: 17px;
}

@media screen and (max-height: 900px) {
  .template .main .user__activity .headline h1 {
    font-size: 15px;
  }
}

.template .main .user__activity .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 35px;
}

.template .main .user__activity .content .post__headline {
  color: #404348;
  font-weight: bold;
  margin-top: 2px;
  font-size: 12px;
  background-color: #e6e6e6;
  padding: 2px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-height: 900px) {
  .template .main .user__activity .content .post__headline {
    font-size: 10px;
  }
}

.template .main .user__activity .content .last__headline {
  color: #404348;
  padding: 2px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  font-size: 11px;
}

@media screen and (max-height: 900px) {
  .template .main .user__activity .content .last__headline {
    font-size: 10px;
  }
}

.template .main .user__activity .content .fragment__description {
  color: #404348;
  padding: 2px 5px;
  margin-top: 2px;
  word-wrap: break-word;
  width: 100%;
  font-size: 11px;
}

@media screen and (max-height: 900px) {
  .template .main .user__activity .content .fragment__description {
    font-size: 10px;
  }
}

.template .main .user__activity .activity__content {
  padding: 5px 5px 5px 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.template .main .user__activity .activity__content .skills {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 150px;
}

@media screen and (max-height: 900px) {
  .template .main .user__activity .activity__content .skills {
    max-height: 135px;
  }
}

.template .main .user__activity .activity__content .skills .skill {
  padding: 0;
  font-size: 12px;
}

@media screen and (max-height: 900px) {
  .template .main .user__activity .activity__content .skills .skill {
    font-size: 10px;
  }
}

.template .main .user__activity .activity__content .languages__container {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template .main .user__activity .activity__content .languages__container h1 {
  font-size: 15px;
}

.template .main .user__activity .activity__content .languages__container .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.template .main .user__activity .activity__content .languages__container .languages .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 4px;
  max-width: 50px;
  min-width: 50px;
}

@media screen and (max-height: 900px) {
  .template .main .user__activity .activity__content .languages__container .languages .language {
    min-width: 35px;
    max-width: 35px;
    margin: 1px;
  }
}

.template .main .user__activity .activity__content .languages__container .languages .language .actual__language {
  word-wrap: break-word;
  font-size: 10px;
  width: 100%;
  text-align: center;
}

@media screen and (max-height: 900px) {
  .template .main .user__activity .activity__content .languages__container .languages .language .actual__language {
    font-size: 9px;
  }
}

.template .main .user__activity .activity__content .languages__container .languages .language .level__container {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 5px;
  background-color: #c0bec0;
  height: 40px;
}

@media screen and (max-height: 900px) {
  .template .main .user__activity .activity__content .languages__container .languages .language .level__container {
    height: 30px;
    width: 4px;
  }
}

.template .main .user__activity .activity__content .languages__container .languages .language .level__container .language__level {
  width: 100%;
  background-color: #323a46;
}
/*# sourceMappingURL=index.css.map */