.forecast__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.daily{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 30px;
    
}
.daily > .day {
    padding: 5px 0;
    height: 180px;
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.daily > .day:hover{
    background-color: #fff;
    color: black;
}
.daily > .day:focus{
    background-color: #fff;
    color: black;
}
.day__active{
    background-color: #fff;
    color: black;
}
.day > .day__date{
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    text-align: center;
    text-transform: capitalize;
}
.day > .temp{
    display: flex;
    align-items: center;
}
.day > .icon > img{
    width: 100px;
}
.day > .desc{
    text-align: center;
    font-size: 15px;
} 
.day > .temp > div:nth-child(1){
    font-size: 25px;
    opacity: 1;
}
.day > .temp > div:nth-child(2){
    font-size: 15px;
    margin-left: 10px;
}
.hourly__container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
.hourly{
    width: 1000px;
    display: flex;
    overflow-x: scroll;
    color: white;
    position: relative;
    padding: 0 5px 10px 5px;
    border-top: 1px solid  rgba(211, 211, 211, 0.952);
    border-bottom: 1px solid rgba(211, 211, 211, 0.952);
}
.hourly::-webkit-scrollbar {
    display: none;
  }

.hourly > .hour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    opacity: 1;
    color: white;
    
}
.hour:nth-child(1) {
    margin: 0;
}
.hour > .precipitation{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}
.hour > .icon > img{
  width: 70px;  
}
.hour > .temp {
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 5px;
}
.hour__date{
    margin-top: 5px;
}
.hour > .desc {
    font-size: 13px;
}
.forecast__container > .skip__buttons > .MuiSvgIcon-root{
    font-size: 50px;
    cursor: pointer;
    color: white;
}
.fade {
    animation: fade ease 1s;
    -webkit-animation: fade ease 1s;
    -moz-animation: fade ease 1s;
    -o-animation: fade ease 1s;
    -ms-animation: fade ease 1s;
    }
    @keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
    }
@media screen and (max-width: 768px) {
    .forecast__container{
        position: relative;
    }
    .hourly__container{
        position: absolute;
        top: 0;
    }
    .daily{
        align-items: center;
        flex-direction: column;
        margin: 300px 0 0 0;
    }
    .daily > .day {
        width: 90%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0 5px;
    }
    .day > .day__date{
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
    }
    .day > .part {
        display: flex;
        width: 60%;
        justify-content: space-between;
    }
    .day > .part > .temp > div:nth-child(1){
        font-size: 22px;
    }
    .day > .part > .temp > div:nth-child(2){
        font-size: 15px;
    }
    .day > .desc{
        display: none;
    }
    .day > .part > .icon > img{
        width: 60px;
      
    }
    .hour:nth-child(1) {
        margin: 0 25px;
    }
    .hourly > .hour {
        margin: 0 10px;
    }
    .forecast__container > .skip__buttons {
        position: absolute;
        top: 240px;
    }
}