.create {
  width: 100%;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  background-color: #f8f9fc;
  padding-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .create .h3,
  .create .h2,
  .create .h1 {
    font-size: 20px;
  }
}

.create .react-tag-input {
  padding: 0;
  border: none;
  margin-top: 10px;
}

.create .react-tag-input .react-tag-input__input {
  border: none;
  border-radius: 0px !important;
  margin: 0 !important;
  background: none !important;
  font-size: 17px;
  font-weight: bold;
}

.create .h2 .fa-trash {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  font-size: 13px;
  margin-left: 15px;
  cursor: pointer;
}

.create .h2:hover .fa-trash {
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .create .h2 .fa-trash {
    opacity: 1;
  }
}

.create .container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.create .container .closeTemplate__button {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(15, 20, 31, 0.3);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.create .container .closeTemplate__button:hover {
  background-color: rgba(15, 20, 31, 0.576);
}

@media screen and (max-height: 900px) {
  .create .container .closeTemplate__button {
    height: 30px;
    width: 30px;
    font-size: 12px;
  }
}

.create .container .down__prevButton {
  width: 270px;
  height: 60px;
  color: white;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 40px;
  right: 20px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.create .container .down__prevButton svg {
  position: absolute;
  right: 8px;
  font-size: 27px;
}

.create .container .create__templateContainer {
  width: 50%;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  position: fixed;
  background-color: #7a8599;
  right: 0;
}

@media only screen and (max-width: 1350px) {
  .create .container .create__templateContainer {
    display: none;
  }
}

.create .container .create__templateContainer .top__actions {
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.create .container .create__templateContainer .top__actions .sync__iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.create .container .create__templateContainer .top__actions .sync__iconContainer svg {
  margin-right: 5px;
  font-size: 26px;
  color: white;
}

.create .container .create__templateContainer .top__actions .sync__iconContainer .MuiCircularProgress-root {
  width: 20px !important;
  height: 20px !important;
  margin-right: 5px;
}

.create .container .create__templateContainer .top__actions .sync__iconContainer .MuiCircularProgress-root .MuiCircularProgress-svg {
  width: 20px;
  height: 20px;
}

.create .container .create__templateContainer .top__actions .sync__iconContainer span {
  margin-top: 3px;
  color: white;
}

.create .container .create__templateContainer .bottom__actions {
  height: 50px;
  width: 650px;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create .container .create__templateContainer .bottom__actions .select__templatesButton {
  color: white;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.create .container .create__templateContainer .bottom__actions .select__templatesButton svg {
  margin-right: 5px;
  font-size: 18px;
}

.create .container .create__templateContainer .bottom__actions .select__templatesButton:hover {
  background-color: rgba(15, 20, 31, 0.15);
}

.create .container .create__templateContainer .bottom__actions .print__button {
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  color: white;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.create .container .create__templateContainer .bottom__actions .print__button:hover {
  opacity: 0.8;
}

.create .container .create__infoContainer {
  padding-top: 20px;
  padding-right: 20px;
  width: 50%;
}

@media only screen and (max-width: 1350px) {
  .create .container .create__infoContainer {
    width: 100%;
    padding-right: 20px;
  }
}

.create .container .create__infoContainer h1 {
  text-align: center;
  color: black;
  padding: 20px 0;
}

.create .container .create__infoContainer .form {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 20px 10px 10px 50px;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form {
    padding: 20px 10px 10px 30px;
  }
}

.create .container .create__infoContainer .form p {
  color: gray;
  margin: 5px 0;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form p {
    font-size: 11px;
  }
}

.create .container .create__infoContainer .form .sectionButton {
  padding: 0 0 0 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.create .container .create__infoContainer .form .sectionButton span {
  color: gray;
  font-weight: bold;
  cursor: pointer;
}

.create .container .create__infoContainer .form .sectionButton svg {
  width: 30px;
  font-size: 30px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form .sectionButton svg {
    font-size: 20px;
    width: 25px;
  }
}

.create .container .create__infoContainer .form button {
  padding: 10px 5px 10px 40px;
  width: 100%;
  font-weight: bold;
  background-color: transparent;
  text-align: left;
  border: none;
  border-radius: 3px;
  margin: 10px auto;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.create .container .create__infoContainer .form .form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    width: 100%;
  }
}

.create .container .create__infoContainer .form .form__row select {
  padding: 10px 0 10px 5px;
  outline: none;
  font-weight: bold;
  border: none;
  font-size: 17px;
  border-radius: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.create .container .create__infoContainer .form .form__row select::after {
  border: 0px;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form .form__row select {
    font-size: 13px;
  }
}

.create .container .create__infoContainer .form .form__row label {
  margin-bottom: 3px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form .form__row label {
    font-size: 15px;
  }
}

.create .container .create__infoContainer .form .form__row textarea {
  width: 100%;
  background-color: rgba(47, 85, 212, 0.1);
  outline: none;
  height: 200px;
  resize: none;
  border: none;
  border-radius: 2px;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 5px 10px 5px;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form .form__row textarea {
    font-size: 13px;
    height: 100px;
  }
}

.create .container .create__infoContainer .form .form__row input {
  width: 100%;
  padding: 10px 0 10px 5px;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 17px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form .form__row input {
    font-size: 13px;
  }
}

.create .container .create__infoContainer .form .form__row .form__group {
  margin: 5px 0;
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form .form__row .form__group {
    width: 100%;
  }
}

.create .container .create__infoContainer .form .form__row .image__input {
  margin: 5px 0 0 0;
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form .form__row .image__input {
    width: 100%;
  }
}

.create .container .create__infoContainer .form .form__row .image__input:hover {
  opacity: 1;
}

.create .container .create__infoContainer .form .form__row .image__input .form__group {
  width: 100%;
}

.create .container .create__infoContainer .form .form__row .image__input .form__group .placeholder__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create .container .create__infoContainer .form .form__row .image__input .form__group .placeholder__container label {
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.create .container .create__infoContainer .form .form__row .image__input .form__group .placeholder__container label svg {
  margin-right: 5px;
}

.create .container .create__infoContainer .form .form__row .image__input .form__group .placeholder__container .photo__placeholder {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 27px;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form .form__row .image__input .form__group .placeholder__container .photo__placeholder {
    font-size: 20px;
    width: 35px;
    height: 35px;
  }
}

.create .container .create__infoContainer .form .form__row .image__input .photo__cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  cursor: pointer;
}

.create .container .create__infoContainer .form .form__row .image__input .photo__cont .photo__instruments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create .container .create__infoContainer .form .form__row .image__input .photo__cont .photo__instruments label {
  font-size: 14px;
  cursor: pointer;
}

.create .container .create__infoContainer .form .form__row .image__input .photo__cont .photo__instruments label svg {
  font-size: 12px;
  margin-right: 5px;
}

.create .container .create__infoContainer .form .form__row .image__input .photo__cont .photo__instruments div {
  font-size: 14px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  color: #9d2626;
}

.create .container .create__infoContainer .form .form__row .image__input .photo__cont .photo__instruments div svg {
  font-size: 12px;
  margin-right: 5px;
}

.create .container .create__infoContainer .form .form__row .image__input .photo__cont .photo__instruments div:hover {
  color: red;
}

.create .container .create__infoContainer .form .form__row .image__input .photo__cont img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form .form__row .image__input .photo__cont img {
    width: 35px;
    height: 35px;
  }
}

.create .container .create__infoContainer .form .form__row .image__input input[type="file"] {
  display: none;
}

.create .container .create__infoContainer .form .education__container {
  padding: 5px;
  margin: 20px 0;
  position: relative;
}

.create .container .create__infoContainer .form .education__container .fa-trash {
  position: absolute;
  right: -25px;
  top: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 13px;
}

.create .container .create__infoContainer .form .education__container .fa-trash:hover {
  color: tomato !important;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form .education__container .fa-trash {
    top: 15px;
    font-size: 11px;
  }
}

.create .container .create__infoContainer .form .education__container::before {
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form .education__container .MuiAccordionSummary-content {
    margin: 0;
    padding: 0;
  }
}

.create .container .create__infoContainer .form .education__container .MuiButtonBase-root {
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form .education__container .MuiButtonBase-root {
    font-size: 15px;
    min-height: unset;
  }
}

.create .container .create__infoContainer .form .education__container .MuiCollapse-container .MuiCollapse-wrapper .MuiCollapse-wrapperInner #panel1a-content .MuiAccordionDetails-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .create .container .create__infoContainer .form .education__container .MuiCollapse-container .MuiCollapse-wrapper .MuiCollapse-wrapperInner #panel1a-content .MuiAccordionDetails-root {
    padding: 5px;
  }
}
/*# sourceMappingURL=create.css.map */