$red: #fe3e57;
$dark: #131d2c;
$blue-dark: #0d2244;
$blue-primary: #294572;
$blue-secondary: #23406b;
$white-primary: #fffffe;
$white-secondary: #d6d9e0;
$nav-box-shadow: rgb(0, 0, 0) 2px 2px 10px;
$button-box-shadow: 5px 6px 21px 6px rgba(0, 0, 0, 0.2);
